-- +goose Up
-- SQL in this section is executed after the migration is applied.
SET lock_timeout = '2s';
SET statement_timeout = '5s';

-- Write your schema migration here

-- +goose Down
-- SQL in this section is executed when the migration is rolled back.
