package app

import (
	// loy:region:imports
	// loy:endregion
)

// wireDependencies initializes repositories, services, handlers and route bindings.
func (a *App) wireDependencies() error {
	// loy:region:repositories
	// loy:endregion

	// loy:region:services
	// loy:endregion

	// loy:region:handlers
	// loy:endregion

	// loy:region:routes
	// loy:endregion

	return nil
}
