package app

import (
{{if eq .Template "templ"}}
	"{{.ModulePath}}/internal/transport/http/handler"
{{end}}
	// loy:region:imports
	// loy:endregion
)

// wireDependencies initializes repositories, services, handlers and route bindings.
func (a *App) wireDependencies() error {
	// loy:region:repositories
	// loy:endregion

	// loy:region:services
	// loy:endregion

{{if eq .Template "templ"}}
	webHandler := handler.NewWebHandler()
{{end}}
	// loy:region:handlers
	// loy:endregion

{{if eq .Template "templ"}}
	if a.router != nil {
		a.router.Get("/", webHandler.Home)
		a.router.Get("/api/ping", webHandler.Ping)
	}
{{end}}
	// loy:region:routes
	// loy:endregion

	return nil
}
